#main-canvas{
    width: 32px;
    height: 32px;
    background-color:#eee; 
    image-rendering: pixelated;
    background-image: url('https://cs10.pikabu.ru/post_img/big/2018/12/24/1/1545608157198144185.jpg');
    background-size: contain;
}

.mouse-stats {
    position: absolute;
    top: 800px;
    left: 1000px;
    color: white;
}
