#main-canvas{
    width: 32px;
    height: 32px;
    background-color:#eee; 
    image-rendering: pixelated;
}

.mouse-stats {
    position: absolute;
    top: 800px;
    left: 1000px;
    color: white;
}
