.canvas{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color:#eee;
    image-rendering: pixelated;
    background-size: contain;
}

#drawing-canvas {
    background-color:#eee0;
}

.mouse-stats {
    position: absolute;
    top: 800px;
    left: 1000px;
    color: white;
}
#gachiBass {
    margin-left: 700px;
    width: 200px;
    height: 200px;
}
